certifi==2022.12.7
chardet==3.0.4
Click==7.0
Flask==1.1.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.3
Markdown==3.1.1
praw==6.5.1
prawcore==1.0.1
requests==2.22.0
update-checker==0.16
urllib3==1.26.5
websocket-client==0.57.0
Werkzeug==0.16.1
